<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.jzyoa.mapper.TbSpecimenMapper">


	<!-- 标本结果的映射 specimen_result -->
	<resultMap id="SpecimenResultResultMap"
		type="com.jzyoa.pojo.TbDictionary">
		<id column="report.specimen_result_id" property="dictId"
			jdbcType="INTEGER" />
		<result column="report.specimen_result.dict_name"
			property="dictName" jdbcType="VARCHAR" />
		<result column="report.specimen_result.dict_value"
			property="dictValue" jdbcType="VARCHAR" />
		<result column="report.specimen_result..dict_mark"
			property="dictMark" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 参考值的映射 reference_value -->
	<resultMap id="ReferenceValueResultMap"
		type="com.jzyoa.pojo.TbDictionary">
		<id column="report.reference_value_id" property="dictId"
			jdbcType="INTEGER" />
		<result column="report.reference_value.dict_name"
			property="dictName" jdbcType="VARCHAR" />
		<result column="report.reference_value.dict_value"
			property="dictValue" jdbcType="VARCHAR" />
		<result column="report.reference_value.dict_mark"
			property="dictMark" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 样本类型的映射 specimen_type -->
	<resultMap id="SpecimenTypeResultMap"
		type="com.jzyoa.pojo.TbDictionary">
		<id column="specimen_type_id" property="dictId" jdbcType="INTEGER" />
		<result column="specimen_type.dict_name" property="dictName"
			jdbcType="VARCHAR" />
		<result column="specimen_type.dict_value" property="dictValue"
			jdbcType="VARCHAR" />
		<result column="specimen_type.dict_mark" property="dictMark"
			jdbcType="VARCHAR" />
	</resultMap>

	<!-- 病人类型类型的映射 PatientType -->
	<resultMap id="PatientTypeResultMap"
		type="com.jzyoa.pojo.TbDictionary">
		<id column="patient_type_id" property="dictId" jdbcType="INTEGER" />
		<result column="patient_type.dict_name" property="dictName"
			jdbcType="VARCHAR" />
		<result column="patient_type.dict_value" property="dictValue"
			jdbcType="VARCHAR" />
		<result column="patient_type.dict_mark" property="dictMark"
			jdbcType="VARCHAR" />
	</resultMap>

	<!-- 样本情况的映射 specimen_situation -->
	<resultMap id="SpecimenSituationResultMap"
		type="com.jzyoa.pojo.TbDictionary">
		<id column="specimen_situation_id" property="dictId"
			jdbcType="INTEGER" />
		<result column="specimen_situation.dict_name"
			property="dictName" jdbcType="VARCHAR" />
		<result column="specimen_situation.dict_value"
			property="dictValue" jdbcType="VARCHAR" />
		<result column="specimen_situation.dict_mark"
			property="dictMark" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 测试类型 TestTypeResultMap -->
	<resultMap id="TestTypeResultMap"
		type="com.jzyoa.pojo.TbDictionary">
		<id column="test_type_id" property="dictId" jdbcType="INTEGER" />
		<result column="test_type.dict_name" property="dictName"
			jdbcType="VARCHAR" />
		<result column="test_type.dict_value" property="dictValue"
			jdbcType="VARCHAR" />
		<result column="test_type.dict_mark" property="dictMark"
			jdbcType="VARCHAR" />
	</resultMap>

	<!-- 报告者的映射 reporter -->
	<resultMap id="ReporterResultMap"
		type="com.jzyoa.pojo.TbManager">
		<id column="report.reporter_id" property="managerId"
			jdbcType="INTEGER" />
		<result column="reporter.manager_name" property="managerName"
			jdbcType="VARCHAR" />
		<result column="reporter.autograph" property="autograph"
			jdbcType="VARCHAR" />
		<result column="reporter.manager_type" property="managerType"
			jdbcType="INTEGER" />
	</resultMap>

	<!-- 审核者的映射 reviewer -->
	<resultMap id="ReviewerResultMap"
		type="com.jzyoa.pojo.TbManager">
		<id column="report.reviewer_id" property="managerId"
			jdbcType="INTEGER" />
		<result column="reviewer.manager_name" property="managerName"
			jdbcType="VARCHAR" />
		<result column="reviewer.autograph" property="autograph"
			jdbcType="VARCHAR" />
		<result column="reviewer.manager_type" property="managerType"
			jdbcType="INTEGER" />
	</resultMap>

	<!-- 医院的映射 hospital -->
	<resultMap id="HospitalResultMap"
		type="com.jzyoa.pojo.TbHospital">
		<id column="hos_id" property="hosId" jdbcType="INTEGER" />
		<result column="hospital.hos_name" property="hosName"
			jdbcType="VARCHAR" />
		<result column="hospital.hos_address" property="hosAddress"
			jdbcType="VARCHAR" />
	</resultMap>
	<!-- 科室的映射 department -->
	<resultMap id="DepartmentResultMap"
		type="com.jzyoa.pojo.TbDepartment">
		<id column="dept_id" property="deptId" jdbcType="INTEGER" />
		<result column="department.hos_id" property="hosId"
			jdbcType="INTEGER" />
		<result column="department.dept_name" property="deptName"
			jdbcType="VARCHAR" />
	</resultMap>
	<!-- 医sheng的映射 doctor -->
	<resultMap id="DoctorResultMap"
		type="com.jzyoa.pojo.TbDoctor">
		<id column="doc_id" property="docId" jdbcType="INTEGER" />
		<result column="doctor.dept_id" property="deptId"
			jdbcType="INTEGER" />
		<result column="doc_name" property="docName"
			jdbcType="VARCHAR" />
		<result column="doctor.mark" property="mark" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 报告的映射report -->
	<resultMap id="ReportResultMap"
		type="com.jzyoa.pojo.TbReport">
		<id column="report.report_id" property="reportId"
			jdbcType="INTEGER" />
		<result column="report.specimen_id" property="specimenId"
			jdbcType="INTEGER" />
		<result column="report.reporter_id" property="reporterId"
			jdbcType="INTEGER" />
		<result column="report.reviewer_id" property="reviewerId"
			jdbcType="INTEGER" />
		<result column="report.create_time" property="createTime"
			jdbcType="VARCHAR" />
		<result column="report.specimen_result_id"
			property="specimenResultId" jdbcType="INTEGER" />
		<result column="report.reference_value_id"
			property="referenceValueId" jdbcType="INTEGER" />
		<!-- 标本结果的实体 -->
		<association property="specimenResult"
			resultMap="SpecimenResultResultMap" />
		<!-- 参考值的实体reference_value_id -->
		<association property="referenceValue"
			resultMap="ReferenceValueResultMap" />
		<!-- 报告者的实体 -->
		<association property="reporter"
			resultMap="ReporterResultMap" />
		<!-- 评审者发的实体 -->
		<association property="reviewer"
			resultMap="ReviewerResultMap" />
	</resultMap>

	<resultMap id="BaseResultMap"
		type="com.jzyoa.pojo.TbSpecimen">
		<id column="specimen_id" property="specimenId" jdbcType="INTEGER" />
		<result column="specimen_code" property="specimenCode"
			jdbcType="VARCHAR" />
		<result column="bed_num" property="bedNum" jdbcType="VARCHAR" />
		<result column="hos_id" property="hosId" jdbcType="INTEGER" />
		<result column="dept_id" property="deptId" jdbcType="INTEGER" />
		<result column="doc_id" property="docId" jdbcType="INTEGER" />
		<result column="door_num" property="doorNum" jdbcType="VARCHAR" />
		<result column="patient_name" property="patientName"
			jdbcType="VARCHAR" />
		<result column="patient_age" property="patientAge"
			jdbcType="INTEGER" />
		<result column="patient_tellphone" property="patientTellphone"
			jdbcType="VARCHAR" />
		<result column="patient_gender" property="patientGender"
			jdbcType="VARCHAR" />
		<result column="specimen_type_id" property="specimenTypeId"
			jdbcType="INTEGER" />
		<result column="patient_type_id" property="patientTypeId"
			jdbcType="INTEGER" />
		<result column="specimen_situation_id"
			property="specimenSituationId" jdbcType="INTEGER" />
		<result column="specimen_status_id" property="specimenStatusId"
			jdbcType="INTEGER" />
		<result column="create_time" property="createTime"
			jdbcType="VARCHAR" />
		<result column="recv_time" property="recvTime"
			jdbcType="VARCHAR" />
		<result column="test_type_id" property="testTypeId"
			jdbcType="INTEGER" />
		<!-- 样本类型 -->
		<association property="specimenType"
			resultMap="SpecimenTypeResultMap" />
		<!-- 样本情况 -->
		<association property="specimenSituation"
			resultMap="SpecimenSituationResultMap" />
		<!-- 医院 -->
		<association property="hospital"
			resultMap="HospitalResultMap" />
		<!-- 科室 -->
		<association property="department"
			resultMap="DepartmentResultMap" />
		<!-- 医生 -->
		<association property="doctor" resultMap="DoctorResultMap" />
		<!-- 检测类型 -->
		<association property="testType"
			resultMap="TestTypeResultMap" />
		<!-- 报告 -->
		<association property="report" resultMap="ReportResultMap" />
		<!-- 病人類型的实体 -->
		<association property="patientType"
			resultMap="PatientTypeResultMap" />
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		specimen_id, specimen_code, hos_id, dept_id, doc_id,
		test_type_id,
		specimen_type_id,
		specimen_situation_id, create_time,
		specimen_status_id, recv_time, door_num, bed_num,
		patient_name,
		patient_age, patient_tellphone, patient_gender,
		patient_type_id
	</sql>

	<sql id="Base_Column_List_With_ALL_MESSAGE">
		report.report_id AS 'report.report_id', report.specimen_id
		AS'report.specimen_id', report.reporter_id AS 'report.reporter_id',
		reporter.manager_name AS 'reporter.manager_name',report.reviewer_id AS
		'report.reviewer_id',reviewer.manager_name AS 'reviewer.manager_name',
		report.create_time AS 'report.create_time', report.specimen_result_id
		AS 'report.specimen_result_id',specimen_result.dict_value AS
		'report.specimen_result.dict_value',report.reference_value_id AS
		'report.reference_value_id',reference_value.dict_value AS
		'report.reference_value.dict_value',specimen.specimen_id AS
		'specimen_id',specimen.specimen_code AS 'specimen_code',
		specimen.hos_id AS 'hos_id',hospital.hos_name AS
		'hospital.hos_name',specimen.dept_id AS 'dept_id',department.dept_name
		AS 'department.dept_name',specimen.doc_id AS
		'doc_id',doctor.doc_name
		as 'doc_name',specimen.test_type_id AS
		'test_type_id',test_type.dict_value
		'test_type.dict_value',specimen.specimen_type_id AS
		'specimen_type_id',
		specimen_type.dict_value
		'specimen_type.dict_value',
		specimen.specimen_situation_id AS
		'specimen_situation_id
		',specimen.create_time AS
		'create_time',specimen.specimen_status_id AS
		'specimen_status_id',specimen.recv_time AS
		'recv_time',specimen.door_num AS 'door_num',specimen.bed_num AS
		'bed_num',specimen.patient_name AS 'patient_name',specimen.patient_age
		AS 'patient_age',specimen.patient_gender AS 'patient_gender',
		specimen.patient_tellphone AS 'patient_tellphone',patient_type_id AS
		'patient_type_id',patient_type.dict_value AS 'patient_type.dict_value',
		specimen_situation.dict_value AS 'specimen_situation.dict_value'
	</sql>

	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.jzyoa.pojo.TbSpecimenExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tb_specimen
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="selectDetailsByExample"
		parameterType="com.jzyoa.pojo.TbSpecimenExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List_With_ALL_MESSAGE" />
		FROM (tb_specimen AS specimen)
		LEFT JOIN tb_report AS report ON
		report.specimen_id = specimen.specimen_id
		LEFT JOIN tb_dictionary AS
		specimen_result ON specimen_result.dict_id
		= report.specimen_result_id
		LEFT JOIN tb_dictionary AS reference_value ON reference_value.dict_id
		=
		report.reference_value_id
		LEFT JOIN tb_dictionary AS specimen_type ON
		specimen_type.dict_id =
		specimen.specimen_type_id
		LEFT JOIN
		tb_dictionary AS specimen_situation ON specimen_type.dict_id =
		specimen.specimen_situation_id
		LEFT JOIN tb_manager AS reporter ON
		reporter.manager_id = reporter_id
		LEFT JOIN tb_manager AS reviewer ON
		reviewer.manager_id = reviewer_id
		LEFT JOIN tb_hospital AS hospital ON
		hospital.hos_id = specimen.hos_id
		LEFT JOIN tb_department AS department
		ON department.dept_id =
		specimen.dept_id
		LEFT JOIN tb_doctor AS doctor
		ON doctor.doc_id = specimen.doc_id
		LEFT JOIN tb_dictionary AS
		patient_type ON patient_type.dict_id =
		patient_type_id
		LEFT JOIN
		tb_dictionary AS test_type ON test_type.dict_id = test_type_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="countDetailsByExample"
		parameterType="com.jzyoa.pojo.TbSpecimenExample"
		resultType="java.lang.Integer">
		select count(*)
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List_With_ALL_MESSAGE" />
		FROM (tb_specimen AS specimen)
		LEFT JOIN tb_report AS report ON
		report.specimen_id = specimen.specimen_id
		LEFT JOIN tb_dictionary AS
		specimen_result ON specimen_result.dict_id
		= report.specimen_result_id
		LEFT JOIN tb_dictionary AS reference_value ON reference_value.dict_id
		=
		report.reference_value_id
		LEFT JOIN tb_dictionary AS specimen_type ON
		specimen_type.dict_id =
		specimen.specimen_type_id
		LEFT JOIN
		tb_dictionary AS specimen_situation ON specimen_type.dict_id =
		specimen.specimen_situation_id
		LEFT JOIN tb_manager AS reporter ON
		reporter.manager_id = reporter_id
		LEFT JOIN tb_manager AS reviewer ON
		reviewer.manager_id = reviewer_id
		LEFT JOIN tb_hospital AS hospital ON
		hospital.hos_id = specimen.hos_id
		LEFT JOIN tb_department AS department
		ON department.dept_id =
		specimen.dept_id
		LEFT JOIN tb_doctor AS doctor
		ON doctor.doc_id = specimen.doc_id
		LEFT JOIN tb_dictionary AS
		patient_type ON patient_type.dict_id =
		patient_type_id
		LEFT JOIN
		tb_dictionary AS test_type ON test_type.dict_id = test_type_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_specimen
		where specimen_id = #{specimenId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from tb_specimen
		where specimen_id =
		#{specimenId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.jzyoa.pojo.TbSpecimenExample">
		delete from tb_specimen
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.jzyoa.pojo.TbSpecimen">
		insert into tb_specimen (specimen_id, specimen_code,
		hos_id,
		dept_id, doc_id, test_type_id,
		specimen_type_id,
		specimen_situation_id, create_time,
		specimen_status_id, recv_time,
		door_num,
		bed_num, patient_name, patient_age,
		patient_tellphone,
		patient_gender, patient_type_id
		)
		values
		(#{specimenId,jdbcType=INTEGER}, #{specimenCode,jdbcType=VARCHAR},
		#{hosId,jdbcType=INTEGER},
		#{deptId,jdbcType=INTEGER},
		#{docId,jdbcType=INTEGER}, #{testTypeId,jdbcType=INTEGER},
		#{specimenTypeId,jdbcType=INTEGER},
		#{specimenSituationId,jdbcType=INTEGER},
		#{createTime,jdbcType=VARCHAR},
		#{specimenStatusId,jdbcType=INTEGER},
		#{recvTime,jdbcType=VARCHAR}, #{doorNum,jdbcType=VARCHAR},
		#{bedNum,jdbcType=VARCHAR}, #{patientName,jdbcType=VARCHAR},
		#{patientAge,jdbcType=INTEGER},
		#{patientTellphone,jdbcType=VARCHAR},
		#{patientGender,jdbcType=VARCHAR}, #{patientTypeId,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.jzyoa.pojo.TbSpecimen">
		insert into tb_specimen
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="specimenId != null">
				specimen_id,
			</if>
			<if test="specimenCode != null">
				specimen_code,
			</if>
			<if test="hosId != null">
				hos_id,
			</if>
			<if test="deptId != null">
				dept_id,
			</if>
			<if test="docId != null">
				doc_id,
			</if>
			<if test="testTypeId != null">
				test_type_id,
			</if>
			<if test="specimenTypeId != null">
				specimen_type_id,
			</if>
			<if test="specimenSituationId != null">
				specimen_situation_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="specimenStatusId != null">
				specimen_status_id,
			</if>
			<if test="recvTime != null">
				recv_time,
			</if>
			<if test="doorNum != null">
				door_num,
			</if>
			<if test="bedNum != null">
				bed_num,
			</if>
			<if test="patientName != null">
				patient_name,
			</if>
			<if test="patientAge != null">
				patient_age,
			</if>
			<if test="patientTellphone != null">
				patient_tellphone,
			</if>
			<if test="patientGender != null">
				patient_gender,
			</if>
			<if test="patientTypeId != null">
				patient_type_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="specimenId != null">
				#{specimenId,jdbcType=INTEGER},
			</if>
			<if test="specimenCode != null">
				#{specimenCode,jdbcType=VARCHAR},
			</if>
			<if test="hosId != null">
				#{hosId,jdbcType=INTEGER},
			</if>
			<if test="deptId != null">
				#{deptId,jdbcType=INTEGER},
			</if>
			<if test="docId != null">
				#{docId,jdbcType=INTEGER},
			</if>
			<if test="testTypeId != null">
				#{testTypeId,jdbcType=INTEGER},
			</if>
			<if test="specimenTypeId != null">
				#{specimenTypeId,jdbcType=INTEGER},
			</if>
			<if test="specimenSituationId != null">
				#{specimenSituationId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="specimenStatusId != null">
				#{specimenStatusId,jdbcType=INTEGER},
			</if>
			<if test="recvTime != null">
				#{recvTime,jdbcType=VARCHAR},
			</if>
			<if test="doorNum != null">
				#{doorNum,jdbcType=VARCHAR},
			</if>
			<if test="bedNum != null">
				#{bedNum,jdbcType=VARCHAR},
			</if>
			<if test="patientName != null">
				#{patientName,jdbcType=VARCHAR},
			</if>
			<if test="patientAge != null">
				#{patientAge,jdbcType=INTEGER},
			</if>
			<if test="patientTellphone != null">
				#{patientTellphone,jdbcType=VARCHAR},
			</if>
			<if test="patientGender != null">
				#{patientGender,jdbcType=VARCHAR},
			</if>
			<if test="patientTypeId != null">
				#{patientTypeId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.jzyoa.pojo.TbSpecimenExample"
		resultType="java.lang.Integer">
		select count(*) from tb_specimen
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tb_specimen
		<set>
			<if test="record.specimenId != null">
				specimen_id = #{record.specimenId,jdbcType=INTEGER},
			</if>
			<if test="record.specimenCode != null">
				specimen_code = #{record.specimenCode,jdbcType=VARCHAR},
			</if>
			<if test="record.hosId != null">
				hos_id = #{record.hosId,jdbcType=INTEGER},
			</if>
			<if test="record.deptId != null">
				dept_id = #{record.deptId,jdbcType=INTEGER},
			</if>
			<if test="record.docId != null">
				doc_id = #{record.docId,jdbcType=INTEGER},
			</if>
			<if test="record.testTypeId != null">
				test_type_id = #{record.testTypeId,jdbcType=INTEGER},
			</if>
			<if test="record.specimenTypeId != null">
				specimen_type_id =
				#{record.specimenTypeId,jdbcType=INTEGER},
			</if>
			<if test="record.specimenSituationId != null">
				specimen_situation_id =
				#{record.specimenSituationId,jdbcType=INTEGER},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=VARCHAR},
			</if>
			<if test="record.specimenStatusId != null">
				specimen_status_id =
				#{record.specimenStatusId,jdbcType=INTEGER},
			</if>
			<if test="record.recvTime != null">
				recv_time = #{record.recvTime,jdbcType=VARCHAR},
			</if>
			<if test="record.doorNum != null">
				door_num = #{record.doorNum,jdbcType=VARCHAR},
			</if>
			<if test="record.bedNum != null">
				bed_num = #{record.bedNum,jdbcType=VARCHAR},
			</if>
			<if test="record.patientName != null">
				patient_name = #{record.patientName,jdbcType=VARCHAR},
			</if>
			<if test="record.patientAge != null">
				patient_age = #{record.patientAge,jdbcType=INTEGER},
			</if>
			<if test="record.patientTellphone != null">
				patient_tellphone =
				#{record.patientTellphone,jdbcType=VARCHAR},
			</if>
			<if test="record.patientGender != null">
				patient_gender =
				#{record.patientGender,jdbcType=VARCHAR},
			</if>
			<if test="record.patientTypeId != null">
				patient_type_id =
				#{record.patientTypeId,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tb_specimen
		set specimen_id =
		#{record.specimenId,jdbcType=INTEGER},
		specimen_code =
		#{record.specimenCode,jdbcType=VARCHAR},
		hos_id =
		#{record.hosId,jdbcType=INTEGER},
		dept_id =
		#{record.deptId,jdbcType=INTEGER},
		doc_id =
		#{record.docId,jdbcType=INTEGER},
		test_type_id =
		#{record.testTypeId,jdbcType=INTEGER},
		specimen_type_id =
		#{record.specimenTypeId,jdbcType=INTEGER},
		specimen_situation_id =
		#{record.specimenSituationId,jdbcType=INTEGER},
		create_time =
		#{record.createTime,jdbcType=VARCHAR},
		specimen_status_id =
		#{record.specimenStatusId,jdbcType=INTEGER},
		recv_time =
		#{record.recvTime,jdbcType=VARCHAR},
		door_num =
		#{record.doorNum,jdbcType=VARCHAR},
		bed_num =
		#{record.bedNum,jdbcType=VARCHAR},
		patient_name =
		#{record.patientName,jdbcType=VARCHAR},
		patient_age =
		#{record.patientAge,jdbcType=INTEGER},
		patient_tellphone =
		#{record.patientTellphone,jdbcType=VARCHAR},
		patient_gender =
		#{record.patientGender,jdbcType=VARCHAR},
		patient_type_id =
		#{record.patientTypeId,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.jzyoa.pojo.TbSpecimen">
		update tb_specimen
		<set>
			<if test="specimenCode != null">
				specimen_code = #{specimenCode,jdbcType=VARCHAR},
			</if>
			<if test="hosId != null">
				hos_id = #{hosId,jdbcType=INTEGER},
			</if>
			<if test="deptId != null">
				dept_id = #{deptId,jdbcType=INTEGER},
			</if>
			<if test="docId != null">
				doc_id = #{docId,jdbcType=INTEGER},
			</if>
			<if test="testTypeId != null">
				test_type_id = #{testTypeId,jdbcType=INTEGER},
			</if>
			<if test="specimenTypeId != null">
				specimen_type_id = #{specimenTypeId,jdbcType=INTEGER},
			</if>
			<if test="specimenSituationId != null">
				specimen_situation_id =
				#{specimenSituationId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="specimenStatusId != null">
				specimen_status_id =
				#{specimenStatusId,jdbcType=INTEGER},
			</if>
			<if test="recvTime != null">
				recv_time = #{recvTime,jdbcType=VARCHAR},
			</if>
			<if test="doorNum != null">
				door_num = #{doorNum,jdbcType=VARCHAR},
			</if>
			<if test="bedNum != null">
				bed_num = #{bedNum,jdbcType=VARCHAR},
			</if>
			<if test="patientName != null">
				patient_name = #{patientName,jdbcType=VARCHAR},
			</if>
			<if test="patientAge != null">
				patient_age = #{patientAge,jdbcType=INTEGER},
			</if>
			<if test="patientTellphone != null">
				patient_tellphone = #{patientTellphone,jdbcType=VARCHAR},
			</if>
			<if test="patientGender != null">
				patient_gender = #{patientGender,jdbcType=VARCHAR},
			</if>
			<if test="patientTypeId != null">
				patient_type_id = #{patientTypeId,jdbcType=INTEGER},
			</if>
		</set>
		where specimen_id = #{specimenId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.jzyoa.pojo.TbSpecimen">
		update tb_specimen
		set specimen_code =
		#{specimenCode,jdbcType=VARCHAR},
		hos_id = #{hosId,jdbcType=INTEGER},
		dept_id = #{deptId,jdbcType=INTEGER},
		doc_id =
		#{docId,jdbcType=INTEGER},
		test_type_id =
		#{testTypeId,jdbcType=INTEGER},
		specimen_type_id =
		#{specimenTypeId,jdbcType=INTEGER},
		specimen_situation_id =
		#{specimenSituationId,jdbcType=INTEGER},
		create_time =
		#{createTime,jdbcType=VARCHAR},
		specimen_status_id =
		#{specimenStatusId,jdbcType=INTEGER},
		recv_time =
		#{recvTime,jdbcType=VARCHAR},
		door_num = #{doorNum,jdbcType=VARCHAR},
		bed_num = #{bedNum,jdbcType=VARCHAR},
		patient_name =
		#{patientName,jdbcType=VARCHAR},
		patient_age =
		#{patientAge,jdbcType=INTEGER},
		patient_tellphone =
		#{patientTellphone,jdbcType=VARCHAR},
		patient_gender =
		#{patientGender,jdbcType=VARCHAR},
		patient_type_id =
		#{patientTypeId,jdbcType=INTEGER}
		where specimen_id =
		#{specimenId,jdbcType=INTEGER}
	</update>
</mapper>